a.red {
  @apply text-red-600;
}
a,
.link {
  @apply underline;
}
a:hover,
a:active,
.link:hover,
.link:active {
  @apply text-red-600 underline;
}

.btn-link {
  @apply no-underline;
}

.btn-link:hover,
.btn-link.active {
  @apply text-white underline;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.layout-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
